# See http://editorconfig.org

# Don't search for other .editconfig files
root = true

[*]

# Unix-style newlines
end_of_line = lf

# There a newline at the end of the file
insert_final_newline = true

# Trailing whitespaces, no one needs them
trim_trailing_whitespace = true

# Why would anyone use anything else?
charset = utf-8

# This is just what we use, sorry if you disagree
indent_style = space
indent_size = 4

# In a Makefile, the tab is significant and not "just" whitespace
[Makefile]
indent_style = tab

[*.yml]
indent_size = 2
