.tags
.version_stamp
.*.sw?
*.luac
*.o
awesome
awesome-client
doc
config.h
Makefile
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt
awesome.doxygen
awesome.1
awesome.1.xml
awesome.1.gz
awesome-client.1
awesome-client.1.xml
awesome-client.1.gz
awesomerc.5
awesomerc.5.xml
awesomerc.5.gz
awesomerc.lua
widgetgen.h
layoutgen.h
awesome-version-internal.h
apidocgen.txt
common/tokenize.[hc]
luadoc
lib/capi.lua
