*.o
awesome
awesome-client
doc
*.swp
defconfig.h
.deps
.dirstamp
configure
config.log
config.status
Makefile
Makefile.in
auto-aux
aclocal.m4
autom4te.cache
awesome.doxygen
awesome-client.1
awesome-message.1
awesome-menu.1
awesome.1
awesomerc.5
awesomerc
uicbgen.h
widgetgen.h
layoutgen.h
awesome-version-internal.h
awesome-message
awesome-menu
uicbdocgen.txt
optsdocgen.txt
