#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Signal Private Messenger
Version=1.0
Terminal=false
Type=Application
Exec=/usr/bin/chromium --profile-directory=Default --app-id=bikioccmkafdpakkkcpdbppfkghcmihk
Icon=chrome-bikioccmkafdpakkkcpdbppfkghcmihk-Default
StartupWMClass=crx_bikioccmkafdpakkkcpdbppfkghcmihk
# Borrowed from blueyed's issue #1070
